.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  background-color: #303f9f;
}
.watched__button {
  margin: 20px;
}

.search__button {
  margin: 20px;
}
.watchlist__button {
  margin: 20px;
}

.nav__bar {
  display: flex;
}

.website__title {
  padding-left: 20px;
  padding-top: 22px;
  font-family: "Acme", sans-serif;
  font-size: 25px;
  color: white;
  font-family: "Yantramanav", sans-serif;
}
