.movie__card {
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  padding-left: 330px;
}

.filler__poster {
  height: 200px;
  width: 140px;
  border-radius: 25px;
  display: flex;
  background-color: gray;
}

.movie__image > img {
  max-height: 200px;
  border-radius: 25px;
}
.movie__info {
  padding-left: 50px;
  padding-top: 20px;
}
.movie__title {
  font-family: "Fjalla One", sans-serif;
  text-align: left;
}

.movie__year {
  padding-top: 20px;
  text-align: left;
}
.add__to__watchlist {
  padding-top: 37px;
  text-align: left;
}
